body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrap {
    width: 1110px;
    margin: 0 auto;
}

header {
    width: 100%;
    margin-top: 38px;
    overflow: hidden;
    height: auto;
    text-align: center;
}

.logo {
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
    float: left;
}
.logo a {
    text-decoration: none;
    color: #555252;
}

.logo::first-letter {
    color: #19bb9b;

}

.menu {
    width: 50%;
    vertical-align: middle;
    float: right;
}

.menu li {
    border: none;
    margin: 0;
}

.menu ul li a {
    padding: 0 32px 0 0;
    color: #0f0101;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

}

.menu ul li a:hover {
    color: #19bb9b;
   
}

.menu ul li a:last-child {
    padding-right: 0;
    clear: both;
}

.caption {
    height: 106px;
    text-align: center;
    padding: 0;
    
    
}

.caption h2 {
    color: #515151;
    font-size: 48px;
    
}
.divider {
    display: inline-block;
    width: 163px;
    height: 7px;
    background-color: #19bb9b;
}

/* .caption h2::after {
    content: "123";
    border-bottom: #19bb9b;
    display: block;
    width: 200px;
} */

.galary {
    width: 100%;
    height: auto;
    margin-top: 92px;
}
.good img {
    overflow: hidden;
    width: 255px;
}
.card {
    width: 255px;
    float: left;
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}
.good {
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
    background: #e9f0fd;
}
.good-name {
    width: 70%;
    float: left;
    background-color: #323232;
}

.good-prise {
    width: 30%;
    float: right;
    background-color: #8c8c8c;
}


.card:hover :nth-child(n+2){
    color: #fff;
    background-color: #1abc9c;
}
.card:hover :nth-child(n+3){
    color: #fff;
    background-color: #7fd9c7;
}

/* .galary :last-child {
    clear: right;
    display: table;
} */



.clearfix::after { 
    content: ""; 
    display: table; 
    clear: both; 
}