body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}
.wrap {
    width: 1110px;
    margin: 0 auto;
}
header {
    width: 100%;
    margin-top: 38px;
    overflow: hidden;
    height: auto;
    text-align: center;
}
/* menu style */
.logo {
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
    float: left;
}
.logo a {
    text-decoration: none;
    color: #555252;
}
.logo::first-letter {
    color: #19bb9b;
    
}
.menu {
    width: 50%;
    vertical-align: middle;
    float: right;
}
.menu li {
    border: none;
    margin: 0;
}
.menu ul li a {
    padding: 0 32px 0 0;
    color: #0f0101;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    
}
.menu ul li a:hover {
    color: #19bb9b;
}
.menu ul li a:last-child {
    padding-right: 0;
    clear: both;
}
/* menu style */
.caption {
    height: 106px;
    text-align: center;
    padding: 0;
}
.caption h2 {
    color: #515151;
    font-size: 48px;
}
.divider {
    display: inline-block;
    width: 163px;
    height: 7px;
    background-color: #19bb9b;
}

/* .caption h2::after {
    content: "123";
    border-bottom: #19bb9b;
    display: block;
    width: 200px;
} */
/* galary style */
.galary {
    width: 100%;
    height: auto;
    margin: 92px 0 105px 0;
}
.good img {
    overflow: hidden;
    width: 255px;
}
.card {
    width: 255px;
    float: left;
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}
.good {
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
    background: #e9f0fd;
}
.good-name {
    width: 70%;
    float: left;
    background-color: #323232;
}
.good-prise {
    width: 30%;
    float: right;
    background-color: #8c8c8c;
}
.card:hover :nth-child(n+2){
    color: #fff;
    background-color: #1abc9c;
}
.card:hover :nth-child(n+3){
    color: #fff;
    background-color: #7fd9c7;
}
.clearfix::after { 
    content: ""; 
    display: table; 
    clear: both; 
}
/* galary style */
/* glog style */
.blog {
    width: 100%;
    margin-top: 120px;
    font-family: "OpenSans", sans-serif;
}

.article {
    width: 30%;
    float: left;
    margin-right: 30px;
}
.article img {
    width: 100%;
    height: 260px;
}

.article h3{
    color: #545252;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 2px 0;
}



.small {
    height: 3px;
}
.article p {
    color: #545252;
    font-size: 14px;
    margin: 10px 0;
}

.read-more {
    width: 160px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    background-color: #4dc5ab;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
}
.read-more:hover {
    background-color: #86e6d1;
    
}



/* glog style */