body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
header {
    width:  80%;
    height: 30px;
    margin: 30px auto 30px auto;
    line-height: 30px;
}
/* menu style */
.menu {
    /* margin-top: 50px; */
}
.logo {
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    
}
.menu .logo a{
    font-weight: 400;
    color: #555252;

}
.logo::first-letter {
    color: #19bb9b;
}
.menu ul {
    float: right;
}
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
}
.menu a:not(:last-child) {
    margin-right: 30px;
}
.menu a:hover {
    color: #19bb9b;
    
}
/* menu style end*/
/* slider style */
.wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.cover {
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
}
.slider {
    background-position: 40% 50%;
    background-size: cover;
    background-image: url('img/slide4.png');
    position: relative;
}
.slider h2 {
    color: #fff;
    font-size: 40px;  
    font-weight: 700;
}
.slider p {
    color: #fff;
    font-size: 24px;    
    font-weight: 300;

}
.box {
    position: absolute;
    width: 770px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
    /* overflow: hidden; */
}
.slider span {
    font-size: 24px;
    font-weight: 300;
}
.box button {
    width: 104px; 
    height: 104px;
    display: inline-block;
    border: none;
    background-color: rgba(140, 217, 196, 0.5);
    color: #fff;
    font-size: 70px;  
}
.left {
    float: left;
}
.right {
    float: right;
}
.box button:hover {
    background-color: #1abc9c;
    transition: all 0.5s;

}

/* slider style end */

.new-collection {
    padding: 50px 0;
}
.new-collection h2{
    color: #515151;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 700;
}
.new-collection h2::after{
    content: " ";
    margin: 0 auto;
    padding-top: 15px;
    width: 13%;
    display: block;
    border-bottom: 7px solid #1abc9c;
    text-align: center;
}
/* galary style */
.galary-wrap {
    width: 100%;
    height: 570px;
    background: #e9f0fd;
    margin: 0 auto;
    padding: 0;
    text-align: center;

}
.galary {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.galary-card {
    align-items: baseline;
    position: relative;
    font-weight: 700;
}
.galary-card-content {
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}
.galary-card > img{
    height: 270px;
}
.galary-card h2 {
    width: 70%;
    float: left;
    background: #323232;
    color: #fff;
}
.galary-card p {
    width: 30%;
    float: right;
    background: #8c8c8c;
    color: #fff;
}


/* card hover fx */
.galary-card-cover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 90%;
    height: 258px;
    top: 7px;
    left: 13px;
    text-align: center;
    vertical-align: middle;
    opacity: 0;

}
.icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: #fff;
    border: 2px solid #fff;
}
.like {
    background-image: url("img/icon-heart.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
}
.galary-card-cover .icon:hover {
    background-color: #1abc9c;
    transition: all 0.5s;
    
}
.share {
    background-image: url("img/icon-arrows.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
}
.time {
    background-image: url("img/icon-clock.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
}

.addToChart {
    background-image: url("img/icon-cart.png");
    background-color: #323232;
    background-repeat: no-repeat;
    background-position: 4%;
    position: absolute;
    top: 165px;  
    left: 15px;    
    width: 214px;
    font-size: 14px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 50px;
    font-weight: 300;
}
.galary-card:hover .galary-card-cover {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    transition: all 0.5s;

}
.galary-card:hover h2{
    background: #1abc9c;
    color: #fff;
    transition: all 0.5s;
}
.galary-card:hover p {
    background: #7fd9c7;
    color: #fff;
    transition: all 1s;
    
}
/* card hover fx */
/* hover style  */
.cover2 {
    display: block;
    width: 90%;
    height: 90%;
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    top: 2.5%;
    left: 5%;
    
}
/* hover style  */
/* galary style */
footer {
    width: 100%;
    height: 90px;
    background: #323232;
    text-align: center;
}
footer p {
    color: #fefefe;
    font-size: 16px;
    line-height: 90px;
}
footer p span {
    color: #46bfa9;
}
footer a {
    text-decoration: none;
}
